$title-gray: #424242; 
$date-gray: #5f6368;
$text-gray: #414549;
$blue: #4285f4;

$title-size:  2.25rem;
$title2-size: 24px;
$subtitle-size: 1.25rem;
$text-size: 16px;
$tag-size: .875rem;
$date-size: 15px;

$font-Hs: 'Product Sans';
$font-text: 'Roboto';
$font-date: 'Roboto Mono';